<!doctype html>
<html>
<head>
    <title>SetMaster</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/vendor/bootstrap.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
    <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/jquery-ui-1.10.2.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/angular-1.0.6.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/angular-resource-1.0.6.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/app.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/services/cards.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/services/catalog.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/controllers/main.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/controllers/catalog_manager.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/directives/draggable.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/directives/droppable.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/directives/zoom.js"></script>
</head>
<body ng-app="setmaster">
    {% block navbar %}
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="/">SetMaster</a>
        <ul class="nav">
          <li><a href="/">Home</a></li>
        </ul>
        <ul class="nav pull-right">
          <li><a href="/accounts/profile"><i class="icon-user"></i>Profile</a></li>
          <li><a href="/accounts/logout"><i class="icon-arrow-right"></i>Logout</a></li>
        </ul>
      </div>
    </div>
    {% endblock %}
    <div class="container-fluid">
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>
