{% extends "base.html" %}
{% load i18n %}

{% block navbar %}
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="/">SetMaster</a>
    <ul class="nav">
      <li><a href="#/">Home</a></li>
      <li><a href="#/catalog">Catalog Manager</a></li>
    </ul>
    <ul class="nav pull-right">
      <li><a href="/accounts/profile"><i class="icon-user"></i>Profile</a></li>
      <li><a href="/accounts/logout"><i class="icon-arrow-right"></i>Logout</a></li>
    </ul>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="row-fluid" ng-view>
</div>
{% endblock content %}