{% extends "base.html" %}
{%block content %}
<div ng-app="Cards">
    <div ng-controller="CardCtrl">
        <input ng-model="search" ng-change="doSearch()"/>
        <table class="table striped">
            <tr ng-repeat="card in cards.results">
                <td>
                    <img ng-src="{% templatetag openvariable %}card.image{% templatetag closevariable %}" width="170px"/>
                </td>
                <td>
                    {% verbatim %}
                        {{ card.multiverse_id }}
                    {% endverbatim %}
                </td>
                <td>
                    {% verbatim %}
                        {{ card.name }}
                    {% endverbatim %}
                </td>
                <td>
                    {% verbatim %}
                        {{ card.set }}
                    {% endverbatim %}
                </td>
            </tr>
        </table>
    </div>
</div>
{% endblock content %}