{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="row-fluid">
    <div class="span2">
        <div ng-controller="CatalogCtrl">
            <h6>{% trans "My collections" %}</h6>
            <input ng-model="catalog_name"/>
            {% csrf_token %}
            <button class="btn" ng-click="addCatalog()">{% trans "Add" %}</button>
            <ul>
                <li ng-repeat="catalog in catalogs.catalogs">
                    {% verbatim %}
                        {{ catalog.name }} ({{ catalog.items }})
                        <button class="btn btn-error" ng-click="deleteCatalog(catalog.id)">
                            <i class="icon-remove-sign"></i>
                        </button>
                    {% endverbatim %}
                </li>
            </ul>
        </div>
    </div>
    <div class="span10" ng-app="Cards">
        <div ng-controller="CardCtrl">
            <input ng-model="search" ng-change="doSearch()"/>
            <div class ng-repeat="card in cards.results">
                <img ng-src="{% templatetag openvariable %}card.image{% templatetag closevariable %}" width="200px" class="pull-left"/>
            </div>
        </div>
    </div>
</div>
{% endblock content %}