{% load i18n %}
<div class="span2">
    <div ng-controller="CatalogCtrl">
        <h3>{% trans "My collections" %}</h3>
        <input ng-model="catalog_name"/>
        <button class="btn" ng-click="addCatalog()">{% trans "Add" %}</button>
        <ul>
            {% verbatim %}
                <li ng-repeat="catalog in catalogs.catalogs"  droppable data-catalogid="{{catalog.id}}">
                    {{ catalog.name }} ({{ catalog.total_quantity }})
                    <button ng-class="catalog.class" class="btn btn-error" ng-click="deleteCatalog(catalog.id)">
                        <i class="icon-remove-sign"></i>
                    </button>
                </li>
            {% endverbatim %}
        </ul>
    </div>
</div>
<div class="span10" ng-app="Cards">
    <input ng-model="search" ng-change="doSearch()"/>
    <div ng-repeat="card in cards.results">
        {% verbatim %}
            <div class="pull-left" draggable data-multiverseid="{{card.multiverse_id}}">
                <h5>{{ card.name }}</h5>
                <img ng-src="{{card.image}}" width="200px" class="pull-left" zoom/>
            </div>
        {% endverbatim %}
    </div>
</div>